*,
*:before,
*:after {
  box-sizing: border-box;
}
.content {
  margin: auto;
  width: 800px;
}
.content-cart-container {
  width: 640px;
  background-color: #fff;
  margin: 30px auto 0 auto;
  align-items: center;
  max-height: 1000px;
}
.cart-title {
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
  height: 30px;
  line-height: 30px;
}
.cart-list {
  max-height: 400px;
  overflow: auto;
}
.cart-item {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 5px;
}
.cart-item-content {
  width: 450px;
  float: left;
  margin-top: 10px;
}
.cart-item-quanity {
  display: flex;
  justify-content: space-around;
  width: 170px;
}
.quanity-input {
  width: 34px;
  height: 28px;
  border: 1px solid #eee;
  outline: none;
  text-align: center;
  font-size: 14px;
  border-bottom: none;
}
.cart-item-title {
  margin: 0 0 10px 10px;
}
.cart-item-title a {
  color: #343434;
  font-size: 14px;
}
.item-quanity {
  border: 1px solid #eee;
  border-radius: 5px;
}
.fa-minus,
.fa-plus {
  padding: 0 10px;
  cursor: pointer;
  user-select: none;
}
.item-delete {
  font-size: 14px;
  color: #0064c2;
  line-height: 32px;
}
.cart-item-total {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  width: 80px;
  text-align: right;
}
.cart-sale {
  background-color: #fff7e2;
  font-size: 14px;
  text-indent: 10px;
  height: 48px;
  line-height: 48px;
  margin: 5px 10px 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
}
.cart-amount {
  text-align: right;
  margin: 10px 20px;
  font-size: 14px;
}
.cart-amount label {
  display: inline-block;
  width: 120px;
  text-align: right;
  color: #333;
}
.total {
  color: #999999;
  margin: 10px 0;
  font-weight: 600;
}
.total label {
  color: #057541;
}
.discount {
  color: #0081bd;
  margin: 10px 0;
}
.cart-btn {
  text-align: center;
  height: 48px;
  line-height: 48px;
}
.cart-buy-btn {
  background-color: #008848;
  margin: 5px 10px 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
  cursor: pointer;
}
.cart-buy-btn a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.cart-cancle-btn {
  margin: 5px 10px 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
}
.cart-cancle-btn a {
  color: #0081bd;
  font-size: 16px;
  text-transform: uppercase;
}

.item-delete {
  cursor: pointer;
}
.cart-message {
  position: relative;
  top: 200px;
  left: 450px;
  width: 400px;
}
.message-hide {
  display: none;
}
.tooltip-price {
  margin: 5px 25px 0 25px;
  font-size: 12px;
  display: none;
  height: 10px;
  line-height: 10px;
}
.category {
  display: none;
}
.container {
  background-color: #057541 !important;
  color: #fff !important;
}
.container:hover {
  background-color: #fff !important;
  color: #656565 !important;
}
.container:hover .category {
  display: block !important;
}
.container:hover .background-html {
  display: block;
}
.background-html:hover {
  display: none !important;
}
.content-customer-container {
  position: relative;
  top: 20px;
  left: 80px;
  background-color: #e9edf0;
  width: 600px;
  height: 700px;
  max-height: 1000px;
  text-align: center;
  display: none;
}
.customer-back_cart {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: left;
  color: #008848;
  cursor: pointer;
}
.customer-address_old {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background-color: #fff;
  text-transform: uppercase;
  color: #0064c2;
  cursor: pointer;
}
.customer-info {
  margin-top: 10px;
  background-color: #fff;
  height: 260px;
}
.customer-info-member {
  text-align: left;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  background-color: #fff;
  text-indent: 10px;
}
.info-input-style {
  width: 580px;
  height: 50px;
  text-align: center;
  border: 1px solid #343434;
  margin: auto;
  border-radius: 5px;
}
.info-input-style label {
  position: absolute;
  top: 185px;
  font-size: 18px;
  text-indent: 10px;
  color: #656565;
}
.info-input-style_input {
  width: 570px;
  height: 48px;
  border: none;
  outline: none;
  text-indent: 10px;
  font-size: 14px;
}
.customer-info-input_phone {
  margin-top: 10px;
}
.customer-info-input_email {
  margin-top: 10px;
}

.customer-info-input_phone label {
  top: 245px;
}
.customer-address {
  margin-top: 10px;
  background-color: #fff;
  text-align: left;
  height: 180px;
}
.customer-address-title {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  font-size: 18px;
}
.customer-address-selection {
  width: 580px;
  margin: auto;
}
.customer-address-textarea {
  outline: none;
  text-indent: 10px;
  font-size: 16px;
}
.customer-time_receive {
  text-align: left;
  margin-top: 10px;
  background-color: #fff;
}
.customer-time_title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-indent: 10px;
}
.customer-time-schedule {
  width: 580px;
  margin: auto;
  font-size: 14px;
  background-color: #fff7e2;
  border-radius: 5px;
  padding: 3px 0;
}
.customer-time_note-container{
  display: flex;
  justify-content: space-around;
}
.customer-time_note {
  margin-top: 10px;
  display: flex;
}
.cash-button {
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.cash-online {
  margin-left: 10px;
  background-color: #0081bd;
  cursor: pointer;
}
.cash-delivery{
  margin-left: 10px;
  background-color: #656565;
  cursor: pointer;
}
.customer-time-textarea {
  font-size: 14px;
  text-indent: 10px;
  outline: none;
}
.customer-time-price {
  text-align: right;
  margin-right: 10px;
}
.customer-time-price label {
  width: 100px;
  display: inline-block;
}
.customer-time-genarate {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #343434;
}
.customer-price-submit {
  height: 60px;
  line-height: 40px;
  text-align: center;
}
.customer-price-submit button {
  padding: 15px 100px;
  font-size: 14px;
  background-color: #008848;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.customer-price_ship span {
  color: #0064c2;
}
