* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #e9edf0;
}
#main {
  position: relative;
  max-width: 1280px;
  max-height: 100%;
  margin: auto;
}
.header {
  margin-top: 35px;
}
.content-discount-code {
  margin-top: 110px;
}
.content-hot-product {
  margin-top: 10px;
}
.content-product {
  margin-top: 10px;
}
.content {
  position: absolute;
  left: 257px;
}
