html {
  font-family: Arial, Helvetica, sans-serif;
}
.login-main {
  background: linear-gradient(#008848, #057541);
  width: 100%;
  height: 757px;
  text-align: center;
}
.login-container {
  position: absolute;
  width: 1000px;
  height: 500px;
  top: 16%;
  left: 24%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.login-form {
  width: 500px;
  text-align: center;
  height: 400px;
  margin: 50px auto;
}
.login-btn {
  margin-top: 30px;
}
.login-user,
.login-password {
  font-size: 18px;
  margin: 30px 50px;
  height: 40px;
  border: 1px solid #999999;
  height: 60px;
  border-radius: 30px;
  line-height: 60px;
  width: 400px;
}
.login-form label {
  position: absolute;
  left: 600px;
  font-size: 20px;
  width: 140px;
  text-align: left;
  height: 40px;
  line-height: 40px;
  color: #333333;
  transition: all 0.5s;
  z-index: 10;
  background-color: #fff;
}
.login-user-title {
  top: 185px;
}
.login-password-title {
  top: 280px;
  width: 85px !important;
}
.login-form input {
  height: 40px;
  width: 350px;
  border: none;
  outline: none;
  color: #333333;
}
/* .login-user:hover {
  border: 1px solid #008848;
} */
/*   */
/* .login-user:hover .login-user-title {
  top: 155px;
  left: 580px;
  color: #008848;
  z-index: 20;
  transition: all 0.5s;
} */
/* .login-password:hover .login-password-title {
  top: 245px;
  left: 580px;
  color: #008848;
  z-index: 20;
  transition: all 0.5s;
} */
.login-logo {
  width: 300px;
  height: 500px;
  flex: 1;
  margin: 0px auto;
}
.login-background {
  width: 300px;
  height: 300px;
  margin: 100px auto 100px auto;
}
.login-background img {
  border-radius: 50%;
}
.login-title {
  text-align: center;
  font-weight: 600px;
  text-transform: uppercase;
}
.login-title p {
  font-size: 40px;
  color: #008848;
}
.login-btn {
  height: 50px;
  margin: 30px 0;
}
.login-btn button {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  padding: 15px 100px;
  background: linear-gradient(to right, #008848, #057541);
  color: #fff;
  border-radius: 30px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: all 2s ease-in-out;
}
.login-btn button:hover {
  background: linear-gradient(to right, #057541, #008848);
  transition: all 2s;
}
/* #008848 */
