* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e9edf0;
}
#header {
  width: 100%;
  height: 96px;
  background-color: green;
  background-size: cover;
  margin-top: 0;
}
#info {
  text-align: center;
  font-size: 30px;
  height: 48px;
  line-height: 48px;
}
#info a {
  text-decoration: none;
  color: #fff;
}
#contact,
#noti {
  display: flex;
  justify-content: space-around;
}
#info li {
  margin: 0 10px;
  font-size: 1.6rem;
  list-style-type: none;
}
#info li a {
  text-decoration: none;
  color: white;
}
.noti-member {
  position: relative;
}
.notification {
  width: 300px;
  height: 400px;
  position: absolute;
  left: -300px;
  top: 30px;
  background-color: white;
  font-size: 3rem;
  z-index: 10;
  border: 1px solid black;
  display: none;
}
#noti .noti-member:active .notification {
  display: block;
}
#noti .noti-member:active .register {
  display: block;
}
#noti .noti-member:active .login {
  display: block;
}
.register,
.login {
  width: 500px;
  height: 600px;
  position: absolute;
  left: -700px;
  top: 30px;
  background-color: white;
  font-size: 3rem;
  z-index: 10;
  border: 1px solid black;
  display: none;
}

.notification_mem-header {
  text-align: center;
}
#website_search_buy {
  display: flex;
  font-size: 3.2rem;
  color: white;
  text-align: center;
}
#website {
  width: 300px;
}
#search {
  position: relative;
  display: flex;
  flex: 1;
}
#search .search {
  width: 1080px;
  border: 1px solid white;
  font-size: 2rem;
  border-radius: 10px;
  margin-right: 5px;
  outline: none;
}
.btn-search {
  cursor: pointer;
  position: absolute;
  color: #eee;
  right: 20px;
  font-size: 25px;
  top: 4px;
}
#cart {
  width: 300px;
  cursor: pointer;
  position: relative;
}
#cart a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}
#container {
  display: flex;
  justify-content: space-between;
  height: 1000px;
}
#navigation {
  width: 250px;
  min-height: 600px;
  border-right: 1px solid green;
  margin-top: 10px;
  background-color: #eee;
  color: green;
}
#content {
  flex: 1;
  max-height: 1000px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #fff;
}
.content-selection-type {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #3333;
  text-align: right;
}
.content-selection-type select {
  outline: none;
}
.content-selection-type span {
  color: #333333;
  font-weight: 600;
}
.content {
  flex: 1;
  max-height: 1000px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#nav_list li {
  list-style-type: none;
  font-size: 2rem;
  margin-left: 10px;
  margin-top: 10px;
}
.nav-mem-header {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
.nav-mem:hover {
  background-color: palegoldenrod;
  cursor: pointer;
}

#conten-mem {
  margin: 10px 10px;
  max-width: 240px;
  max-height: 280px;
  padding: 5px;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
#conten-mem:hover {
}
#conten-mem-admin {
  margin: 10px 10px;
  max-width: 240px;
  height: 260px;
  padding: 5px 10px;
  border: 1px solid #333333;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
#conten-mem-admin .title-content {
  font-size: 2rem;
  text-align: center;
}
#conten-mem-admin .price-buy {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}
.edit,
#delete {
  color: white;
  background-color: green;
  padding: 3px 5px;
  border: 1px solid white;
  border-radius: 5px;
}
#conten-mem .title-content {
  font-size: 1.8rem;
  text-align: center;
}
.price-buy {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}
.price-buy button {
  cursor: pointer;
}
.price-buy p {
  background-color: #fbfbfb;
  color: green;
  border-radius: 5px;
}
#buy {
  width: 100%;
  text-align: center;
}
#buy button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: green;
  font-size: 1.6rem;
  color: white;
  border: 1px solid white;
  padding: 3px 5px;
  border-radius: 5px;
}
#footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid tan;
  background-color: green;
  color: white;
}
.footer-info {
  margin-left: 20px;
  margin-top: 20px;
  width: 50%;
  font-size: 1.4rem;
}
.footer-info .title-footer {
  font-size: 3rem;
}
.footer-address {
  flex: 1;
  font-size: 1.4rem;
  margin-top: 20px;
}
.addproduct {
  position: absolute;
  left: 250px;
  top: -100px;
  border: 1px solid greenyellow;
  border-radius: 20px;
  width: 500px;
  height: 600px;
  top: -35px;
  background-color: green;
  font-size: 2.8rem;
  color: white;
  text-align: center;
  display: none;
  z-index: 10;
}

#website a {
  text-decoration: none;
  color: white;
}
.nav-mem {
  position: relative;
}
#sale {
  position: absolute;
  top: 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.nav-mem a {
  text-decoration: none;
  color: green;
}
#pro_type_all {
  cursor: pointer;
}
#cart_list {
  position: absolute;
  left: -650px;
  width: 800px;
  max-height: 800px;
  z-index: 50;
  overflow: auto;
  background-color: white;
  font-size: 1.8rem;
  padding: 20px 0px;
  color: green;
  border: 1px solid green;
  border-radius: 10px;
  text-align: center;
  display: none;
}
#cart-mem {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 50px;
  z-index: 100;
}
#cart_list_mem {
  height: 500px;
  max-height: 600px;
  width: 800px;
  overflow: auto;
}
#description {
  width: 800px;
  display: flex;
  justify-content: space-around;
}
#total {
  width: 200px;
}
#info-cart {
  font-size: 2rem;
  margin-bottom: 20px;
}
.total-amount {
  border-top: 1px solid green;
  padding: 5px 0 0 0;
}

#nav-mem-buy {
  position: relative;
}
#select-buy {
  position: absolute;
  top: -200px;
  left: 300px;
  width: 1300px;
  height: 700px;
  background-color: white;
  border: 2px solid green;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
  display: none;
  overflow: auto;
}
#select-buy .icon-close {
  width: 50px;
  height: 50px;
  font-size: 3.2rem;
  color: green;
  margin-left: 1240px;
}
.cart-mem {
  display: flex;
  justify-content: space-between;
  height: 200px;
  z-index: 100;
}
.cart-delete {
  width: 50px;
}
.cart-image {
  width: 100px;
}
.cart-name {
  width: 100px;
}
.cart-number {
  width: 50px;
}
.quantity {
  width: 50px;
}
#totalAmount {
  margin-right: 100px;
}
#suggestion {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: auto;
}
.buy-button {
  display: none;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.content-order-table {
  position: relative;
  top: 10px;
  display: none;
}
.fa-edit {
  margin-left: 5px;
  font-size: 18px;
  color: #008848;
  cursor: pointer;
}
.order-update-status {
  width: 140px;
}
.index_new_order {
  display: inline-block;
  text-align: center;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: white;
}
.select-filter {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #333333;
  color: #333333;
  cursor: pointer;
  transition: all 0.5s;
}
.select-filter:hover {
  background-color: #008848;
  color: #fff;
  border: 1px solid #fff;
}
