html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 25px;
}
.content-slider {
  width: 980px;
  height: 100px;
}
.slider-next,
.slider-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}
.slider-next {
  right: 25px;
  top: 100px;
}
.slider-prev {
  left: 25px;
  top: 100px;
}
.slider-dots {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 10;
}
.slider-dots li {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #999;
  cursor: pointer;
  transition: background-color 0.25s linear;
}
.slider-dots li.active {
  background-color: white;
}
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider-main {
  display: flex;
  position: relative;
  transition: transform 0.25s linear;
  height: 100%;
}
.slider-item {
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.content-slider:hover .slider-next,
.slider-prev {
  padding: 8px;
  font-size: 20px;
}
