* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}
#topbar {
  background-color: #008848;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  left: 0;
}
.topbar-header {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  height: 50px;
  margin: auto;
  text-align: center;
  font-size: 100%;
  align-items: center;
  color: aliceblue;
}
.topbar-search {
  width: 400px;
}
.topbar-search .topbar-search-input {
  width: 380px;
  height: 34px;
  padding: 0 30px 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  text-indent: 10px;
  position: relative;
  top: 0px;
  left: 10px;
  font-size: 14px;
}
.topbar-search-btn {
  position: relative;
  top: 2px;
  left: -20px;
  color: #dddddd;
  font-size: 18px;
  cursor: pointer;
}
.topbar-home {
  width: 160px;
  cursor: pointer;
}
.topbar-suggestion {
  margin-left: 20px;
  width: 160px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
#topbar-suggestion-content {
  background-color: #057541;
  align-items: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.fa-baby-carriage {
  width: 13px;
  height: 18px;
  font-size: 22px;
  margin-right: 10px;
}
.topbar-bill {
  width: 92px;
  font-size: 12px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}
.topbar-cart {
  display: flex;
  justify-content: center;
  width: 140px;
  font-size: 12px;
  background-color: #057541;
  height: 50px;
  line-height: 50px;
}
.fa-shopping-basket {
  width: 24px;
  height: 22px;
  font-size: 22px;
  color: #fff;
  height: 50px;
  margin-right: 5px;
}
.topbar-cart-content {
  height: 50px;
}
.topbar-cart-cart {
  position: relative;
  top: -10px;
}

.topbar-cart-number {
  position: relative;
  color: white;
  background-color: red;
  border-radius: 50px;
  font-size: 10px;
  left: 12px;
  top: -50px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-weight: 600;
}
.topbar-cart-price {
  position: relative;
  top: -45px;
  color: yellow;
}
.topbar-list {
  height: 50px;
  max-height: 1400px;
  width: 210px;
}
.fa-list-alt {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.cart-content-show p {
  height: 10px;
  margin-top: 20px;
  line-height: 10px;
}
