<link rel="stylesheet" href="/css/advanced_search.css">

<div class="search_container">
    <div class="search_title">
       <button class="search_button"> Tìm kiếm nâng cao</button>
    </div>
    <div class="search_option">
        <lable>Giá: </lable>
        <select id="search_price">
            <option value="none">Chọn giá ~</option>
            <option value="000000100000">Dưới 100.000vnd</option>
            <option value="100000200000">100.000vnd ~ 200.000vnd</option>
            <option value="200000900000">Trên 200.000vnd</option>
        </select>
        <lable>Loại: </lable>
        <select id="search_type">
            <option value="none">Chọn loại ~</option>
            <option value="1">Rau xanh các loại</option>
            <option value="4">Mì các loại</option>
            <option value="5">Cá các loại</option>
            <option value="3">Thịt các loại</option>
            <option value="2">Củ quả các loại</option>
        </select>
        <lable>Xuất xứ: </lable>
        <select id="search_made">
            <option value="none">Vui lòng chọn nơi sản xuất</option>
            <option value="viet nam">Việt Nam</option>
            <option value="han quoc">Hàn Quốc</option>
            <option value="nhat ban">Nhật Bản</option>
            <option value="my">Mỹ</option>
            <option value="trung quoc">Trung Quốc</option>
            <option value="thai lan">Thái Lan</option>
        </select>
        <i class="fas fa-times-circle close_button"></i>
    </div>
</div>
<script src="/js/advanced_search.js"></script>