<!DOCTYPE html>
<html>
  <head>
    <title>Product Details</title>
  </head>
  <body>
    <h1 id="productName"></h1>
    <img id="productImage" src="" alt="">
    <p>Quantity: <span id="productQuantity"></span></p>
    <p>Price: <span id="productPrice"></span></p>

    <script>
      let productInfo = JSON.parse(sessionStorage.getItem('productInfo'));
      let productNameElement = document.getElementById('productName');
      let productImageElement = document.getElementById('productImage');
      let productQuantityElement = document.getElementById('productQuantity');
      let productPriceElement = document.getElementById('productPrice');

      productNameElement.textContent = productInfo.productName;
      productImageElement.src = productInfo.imagePath;
      productQuantityElement.textContent = productInfo.quantity;
      productPriceElement.textContent = productInfo.price;
    </script>
  </body>
</html>
