<link rel="stylesheet" href="/css/discount_code.css">
<div class="discount-code">
    <div class="discount-code-title">Ưu đãi của bạn</div>
    <div class="discount-code-main">
        <div class="discount-code-item">
            <div class="discount-code-title">
               <div class="discount-title-icon">
                   <div class="discount-title"> Miễn phí giao</div>   
                   <i class="fas fa-check check-icon"></i></div>
               <div class="discount-content">5 đơn đầu tiên từ 100.000đ, không áp dụng hàng to, nặng (tối đa 15.000đ)</div>
            </div>
        </div>
        <div class="discount-code-item">
            <div class="discount-code-title">
               <div class="discount-title-icon">
                   <div class="discount-title"> Miễn phí giao</div>   
                   <i class="fas fa-check check-icon"></i></div>
               <div class="discount-content">5 đơn đầu tiên từ 100.000đ, không áp dụng hàng to, nặng (tối đa 15.000đ)</div>
            </div>
        </div>
        <div class="discount-code-item">
            <div class="discount-code-title">
               <div class="discount-title-icon">
                   <div class="discount-title"> Miễn phí giao</div>   
                   <i class="fas fa-check check-icon"></i></div>
               <div class="discount-content">5 đơn đầu tiên từ 100.000đ, không áp dụng hàng to, nặng (tối đa 15.000đ)</div>
            </div>
        </div>
        <div class="discount-code-item">
            <div class="discount-code-title">
               <div class="discount-title-icon">
                   <div class="discount-title"> Miễn phí giao</div>   
                   <i class="fas fa-check check-icon"></i></div>
               <div class="discount-content">5 đơn đầu tiên từ 100.000đ, không áp dụng hàng to, nặng (tối đa 15.000đ)</div>
            </div>
        </div>    
    </div> 
</div>