<link rel="stylesheet" href="/css/hot_product.css">
<div class="hot-product-main">
    <div class="hot-product-title">Nhóm sản phẩm thường mua</div>
    <div class="hot-product-list">
        <a class="hot-product-item" href="#">         
                <img src="/img/cantay.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Cần tây</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/cachua.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Cà chua</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/lthitheobaroi.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Thịt ba rọi heo</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/micungdinh.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Mì cung đình</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/mihaohao.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Mì hảo hảo</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/mikokomi.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Mì kokomi</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/ot.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Ớt đỏ</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/khoailan.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Khoai lan</span>
        </a>
        <a class="hot-product-item" href="#">         
                <img src="/img/khoaimo.png" width="40px" height="40px" alt="">
            <span class="prouduct-content">Khoai mỡ</span>
        </a>
    </div>
</div>