<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="/font/fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="login-main">
      <div class="login-container">
        <div class="login-logo">
          <div class="login-background">
            <img
              src="/img/logo-login.png"
              alt=""
              height="300px"
              width="300px"
            />
          </div>
        </div>
        <div class="login-form">
          <div class="login-title">
            <p>ĐĂNG NHẬP</p>
          </div>
          <div class="login-user">
            <label class="login-user-title" for="">Tên đăng nhập</label>
            <input type="text" name="" id="login-username" />
          </div>
          <div class="login-password">
            <label class="login-password-title" for="">Mật khẩu</label>
            <input type="password" name="" id="login-password" />
          </div>
          <div class="login-btn">
            <button id="login-btn-action">ĐĂNG NHẬP</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
