<link rel="stylesheet" href="/css/message_cart.css">
<div class="meesage-cart-container">
    <div class="message_cart-container">
        <div class="message_cart-content">
            <p>Đơn hàng của bạn đã được gửi đi và sẽ được giao sau 24h làm việc. Bách Hóa Chàng Sen cảm ơn bạn đã tin tưởng và ủng hộ. </p>
        </div>
        <div class="message_cart-btn">
            <div class="message_cart-btn-yes">
                <a href="http://localhost:5000">Quay lại trang chủ</a>
            </div>
        </div>
    </div>

</div>
   