<link rel="stylesheet" href="/css/message.css">
    <div class="message-container">
        <div class="message-content">
            <p>Bạn chắc chắn muốn bỏ sản phẩm này ra khỏi giỏ hàng?</p>
        </div>
        <div class="message-btn">
            <div class="message-btn-yes">
                <button>Đồng ý</button>
            </div>
            <div class="message-btn-no">
                 <button>Hủy</button>
            </div>
        </div>
    </div>
