<link rel="stylesheet" href="/css/navagation.css">

<div class="container">
    <div class="category-header">
        <i class="far fa-list-alt"></i>
        <span>DANH MỤC SẢN PHẨM</span>
    </div>
    <div class="background-html"></div>
    <div class="category">
        <ul class="category-list">
            <li class="category-item">
                <p><a href="http://localhost:5000/vegetable">RAU XANH CÁC LOẠI</a></p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p><a href="http://localhost:5000/fruit">CỦ, QUẢ CÁC LOẠI</a></p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p><a href="http://localhost:5000/meat">THỊT CÁC LOẠI</a></p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>CÁ CÁC LOẠI</p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p><a href="http://localhost:5000/noodles">MÌ CÁC LOẠI</a></p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>DẦU ĂN, GIA VỊ</p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>GẠO, BỘT, ĐỒ KHÔ</p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>ĐỒ MÁT, ĐÔNG LẠNH</p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>TÃ, ĐỒ CHO BÉ</p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>CHĂM SÓC CÁ NHÂN</p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>VỆ SINH NHÀ CỬA</p>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="category-item">
                <p>ĐỒ DÙNG GIA ĐÌNH</p>
                <i class="fas fa-angle-down"></i>
            </li>
        </ul>
        <div class="category-search">
            <input type="text" class="search-input"placeholder="Tìm hơn 300 nhóm hàng">
            <i class="fas fa-search category-search-btn"></i>
        </div>
        <div class="category-info">
            <p class="category-info-item">
                <i class="category-icon icon-pinn">%</i>
                <span><b>918</b> sản phẩm khuyến mãi</span>
            </p>
            <p class="category-info-item ">
                <i class="fas fa-home category-icon icon-blue"></i>
               <span> Danh sách<b> 1.939 </b>cửa hàng   </span>
            </p>
            <ul class="category-option">
                <li class="category-option-item">Sim, thẻ cào</li>
                <li class="category-option-item">Mua góp điện nước</li>
                <li class="category-option-item">Mua phiếu mua hang</li>
                <li class="category-option-item">Tuyển dụng shipper</li>
            </ul>          
        </div>
    </div>
</div>