<link rel="stylesheet" href="/css/order_details.css">
<div class="details-order-container">
    <div class="details-order-back_order">
        <span class="details-order-back-order_btn"> <- Quay lại danh sách đơn hàng</span>
    </div>
    <div class="details-order-title">
        <h4>Chi tiết đơn hàng</h4>
    </div>
    <div class="details-order-date_status">
        <div class="order-date">
            <span>Mã đơn hàng:</span> <label class="order-date_code">DI1896A3</label>
        </div>
        <div class="order-status">
            <span>Ngày đặt:</span> <label class="order_date">30-10-2021</label>
        </div>
    </div>
    <div class="details-order-table">
      <table>
        <thead>
          <tr>
            <th class="details-order-image">Hình ảnh</th>
            <th class="details-order-name">Tên sản phẩm</th>
            <th class="details-order-quantity">Số lượng</th>
            <th class="details-order-money">Giá tiền</th>
            <th class="details-order-total">Thành tiền</th>
        </tr>
        </thead>
          <tbody class="details-order-member">
          </tbody>   
      </table>
    </div>
    <div class="order-details-total_money">
        <span>Tổng tiền:</span> <label class="order_details-total_money">0<u>đ</u></label>
    </div>
    <div class="order-details-hotline">
        Mọi khiếu nại xin liên hệ hotline <span>0767958005</span>
    </div>
</div>