<link rel="stylesheet" href="/css/slide.css">
<div class="content-slider">
    <i class="fas fa-chevron-left icon-hover slider-prev"></i>
    <ul class="slider-dots">
        <li class="slider-dot-item active" data-index="0"></li>
        <li class="slider-dot-item" data-index="1"></li>
        <li class="slider-dot-item" data-index="2"></li>
        <li class="slider-dot-item" data-index="3"></li>
        <li class="slider-dot-item" data-index="4"></li>
      </ul>
    <div class="slider-wrapper">
        <div class="slider-main">
          <div class="slider-item">
            <img
              src="/img/slide1.jpg"
              alt=""
            />
          </div>
          <div class="slider-item">
            <img
              src="/img/slide2.jpg"
              alt=""
            />
          </div>
          <div class="slider-item">
            <img
              src="/img/slide3.jpg"
              alt=""
            />
          </div>
          <div class="slider-item">
            <img
              src="/img/slide4.jpg"
              alt=""
            />
          </div>
          <div class="slider-item">
            <img
              src="/img/slide5.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <i class="fas fa-chevron-right icon-hover slider-next"></i>
</div>
<script src="/js/slider.js"></script>