<link rel="stylesheet" href="/css/handle_product.css">
<div class="handle_update-product-container">
    <div class="handle-product-title">
        Thông tin sản phẩm
    </div>
    <div class="product-name product-handle-all">
        <label class="product_title_all" for="">Tên sản phẩm: </label>
        <input type="text" name="pro_name_update" id="">
    </div>
    <div class="product-type product-handle-all">
        <label class="product_title_all" for="">Loại sản phẩm: </label>
        <select  class="pro_types_update">
            <option value="">Chọn loại sản phẩm</option>
            <option value="1">Rau xanh các loại</option>
            <option value="2">Củ, quả các loại</option>
            <option value="3">Thịt các loại</option>
            <option value="4">Mì các loại</option>
            <option value="5">Cá các loại</option>
          </select>
    </div>
    <div class="product-nutritional product-handle-all">
        <label class="product_title_all" for="">Giá trị dinh dưỡng (~): </label>
        <input type="text" name="pro_description_update" id="">
    </div>
    <div class="product-description product-handle-all">
        <label class="product_title_all" for="">Thông tin sản phẩm: </label>
        <input type="text" name="" id="">
    </div>
    <div class="product-image product-handle-all">
        <label class="product_title_all" for="">Hình ảnh sản phẩm: </label>
        <input type="file" name="image_file_update" id="">
    </div>
    <div class="product-price product-handle-all">
        <label class="product_title_all" for="">Giá sản phẩm: </label>
        <input type="text" name="pro_price_update" id=""> 
        <label for="">vnđ.</label>
    </div>
    <div class="product-btn">
        <button class="update-product">Cập nhật</button>
        <button class="cancel-update-product">Hủy</button>
    </div>
</div>